# 01 - How to find the version

In [4]:
import pandas as pd
pd.__version__

'1.4.0'

In [5]:
# another way
pd.show_versions()

c:\Users\Quantum\AppData\Local\Programs\Python\Python39\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

INSTALLED VERSIONS
------------------
commit           : bb1f651536508cdfef8550f93ace7849b00046ee
python           : 3.9.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.0
numpy            : 1.22.1
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 20.2.3
setuptools       : 49.2.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.1
IPython          : 8.0.1
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.5.1
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : 7.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None

# 02- Make a dataframe

In [6]:
df = pd.DataFrame({'A col': [1, 2, 3], 'B col' : [4, 5, 6]})
df

   A col  B col
0      1      4
1      2      5
2      3      6

In [7]:
# Numpy array use to creat dataframe
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# Numpy array dataframe
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.595372,0.647340,0.509712,0.782430,0.202220,0.877531,0.649624,0.608146
1,0.862628,0.944743,0.734704,0.719601,0.505967,0.218902,0.376472,0.930154
2,0.695566,0.057533,0.472124,0.428209,0.537994,0.141472,0.514915,0.869830
3,0.862377,0.066048,0.993823,0.179125,0.836414,0.493404,0.047309,0.775349

In [9]:
pd.DataFrame(np.random.rand(4,8), columns=list('ABCDEFGH'))

,A,B,C,D,E,F,G,H
0,0.623487,0.444661,0.268485,0.764815,0.046696,0.775218,0.882862,0.554124
1,0.217336,0.633272,0.493543,0.304421,0.902340,0.125400,0.585070,0.523853
2,0.138718,0.478873,0.866362,0.709270,0.504267,0.986404,0.137259,0.080054
3,0.237125,0.091085,0.427074,0.152658,0.202955,0.445261,0.198178,0.600519